# Chave de Serviço do Google Cloud IAM (Formato JSON)
# Necessária para contornar bloqueios silenciosos da biblioteca gspread
GOOGLE_APPLICATION_CREDENTIALS=/caminho/absoluto/para/sua/chave-service-account.json

# URL Pública ou Privada da sua planilha de testes (A Conta de Serviço deve ter permissão de Editor)
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/SEU_ID_AQUI/edit
