# Chave de Serviço do Google Cloud IAM (Formato JSON)
# Necessária para contornar bloqueios silenciosos da biblioteca gspread
GOOGLE_APPLICATION_CREDENTIALS=/caminho/absoluto/para/sua/chave-service-account.json

# URL pública (com permissão de edição para o email do Service Account) da sua planilha do Google Sheets.
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/1upEL0kFe6n_0Bo4HQJMIYijBJ9J3PBLX1OXRtt-sh6s/edit?usp=sharing
